
@{
    ViewBag.Title = "verifyEmail";
    Layout = "~/Views/Shared/home.cshtml";
}
<div class="badichvu">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 wow flipInY">
                <h2>
                    @ViewBag.msg
                </h2>

            </div>
        </div>
    </div>
</div>