

    @{
        ViewBag.Title = "aboutus";
        Layout = "~/Views/Shared/home.cshtml";
    }

    <div class="container">
        <div class="row" style="margin-top:-170px">           
            <div class="col-sm">
                <div class="thongtin">
                    <span class="tieudephu fontdancing" style="margin-left: -150px ; font-size: 50px">About us</span>
                </div>
            </div>
        </div>
                    <p class="tieudephu fontdancing" style="font-size:20px">
                        We are one of biggest cooking recipe website. Our customers are composed of chef and who love cooking from worldwide.
                    </p>
                    <br />
                    <p class="tieudephu fontdancing" style="font-size:20px">
                        With excellent experiences of cooking, we provide a recipe of products with high-quality from all over the world.
                    </p>
                    <br />
                    <p class="tieudephu fontdancing" style="font-size:20px">
                        Come to us, work with us, benefit what we can offer and provide us your advice.
                    </p>
 
    </div>
