
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/home.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="margin-left:-150px; font-size:30px">How to become the member of this site ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        Please register your interest in becoming an FPAR member by contacting: fpar@sky.com or submitting the form on the JOIN page. Each applicant will be asked to complete an online Assessment and asked to provide information about their company, membership of associations, and successful case history etc. Each application will be assessed independently.

        The Assessment will consist of approximately 15 questions spanning the various areas of probate research and genealogy. The questions are selected randomly from a pool so that each Assessment is unique to the applicant. In the event you are asked to undertake the Assessment again, a revised list of questions will be supplied. Assessments cannot currently be saved so must be completed in full at any one time. Security protocols are in place to monitor misuse and any such action would result in a failed application. Successful applicants will be asked to supply two reference letters from a professional associate (solicitor, professional administrator, accountant etc).

        ICO Registration and Professional Indemnity Insurance are mandatory requirements and will need to be put in place before membership becomes active.
    </p>
    <br />
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="font-size:30px">Will there be any subscription charges ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        On the checkout page you will see the subscription price and Monthly alongside it to indicate it is a monthly subscription. ... Clicking on the Don't Renew link will set your subscription to expire at the end of the currently billed period and ensure you are not billed in in the next payment cycle.
    </p>
    <br />
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="font-size:30px">How to view the recipes and tips? Will there be any charges for that ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        ...
    </p>
    <br />
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="font-size:30px">I am not the registered member of the site. Can I participate in the contest held ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        ...
    </p>
    <br />
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="font-size:30px">How to upload or post the recipes and tips ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        ...
    </p>
    <br />
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="font-size:30px">How to post a feedback ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        ...
    </p>
    <br />
    <div class="row" style="margin-top:-170px">
        <div class="col-sm">
            <div class="thongtin">
                <span class="tieudephu fontdancing" style="font-size:30px">I have posted a recipe or a tip with respect to the contest. How can I know who is the winner ?</span>
            </div>
        </div>
    </div>
    <p class="tieudephu fontdancing" style="font-size:20px">
        ...
    </p>
    <br />
</div>

